body {
    background-color: #2E3440;
}

hr {
    align-items: left;
    border-style: dotted none none; 
    border-width: 8px;
    border-color: #2E3440;
    margin-right: 80%;
    margin-left: 10%;

}
p {
    color: #81A1C1;
}
li {
    color: #81A1C1;
}

td {
    color: #81A1C1;
}
th {
    color: #81A1C1;
}

h1 {
    color: #D8DEE9;
    font-size: 40px;
}

h3 {
    color: #D8DEE9;
    font-size: 40px;
}

a {
    color:#A3BE8C;
}

img {
    background-color : #3B4252;
    border-radius: 20px;
}
