body {
    background-color: #434C5E;
}

hr {
    align-items: left;
    border-style: dotted none none; 
    border-width: 8px;
    border-color: #2E3440;
    margin-right: 80%;
    margin-left: 10%;

}